<div class="dashboard">
  <div class="dashboard__header">
    <div class="school-details-container">
      <div class="school-icon"></div>
      <div class="school-name">School Name</div>
    </div>
  </div>
  <div class="dashboard__user-details">
    <div class="user-details-container">
      <div class="user-icon"></div>
      <div class="user-name-container">
        <div class="user-name">Jessica John Jones</div>
        <div class="user-id">FS1 Acacia</div>
      </div>
    </div>
  </div>
  <div class="dashboard__fee-detail-card">
    <div class="fee-card-line">
      <div class="intro-line">Now pay your fee monthly with &#64;</div>
      <div class="intro-line-icon"></div>
    </div>
    <div class="fee-card-line">
      <div class="rate-percentage">0%</div>
      <div class="rate-line">Interest pre-approved credit line</div>
    </div>
    <div class="fee-card-line">
      <div class="annual-fee">Annual Fee ₹ 3,40,000</div>
      <div class="activate-button">
        <button>Activate Now</button>
      </div>
    </div>
  </div>
</div>
